html, body {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.footer-table {
  margin: auto;
  width: 50%;
  position: absolute;
  bottom: 10px;
  left: 0px;
  right: 0px;
}

.header-table {
  margin: auto;
  width: 90%;
  position: absolute;
  top: 20px;
  left: 0px;
  right: 0px;
}

.header-table-side {
  width: 25%;
}

.header-table-title {
  width: 50%;
}

.task-button {
  width: 100px;
  height: 100px;
}

.rectangle{
  display: inline-block;
  width: 100%;
  height: 30%;
  border-style: solid;
}

.alarm-input{
  width:100%;
  height:40%;

}

.alarm-button{
  width: 100%;



}
.diffChoice{
  position: absolute;  float: right;
  width: 50%;

}


.wrap {
  position: absolute;
  margin: 10px;
  display: flex;
  
}

.wrap span {
  align-self: flex-end;
}

