html, body {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.footer-table {
  margin: auto;
  width: 50%;
  position: absolute;
  bottom: 10px;
  left: 0px;
  right: 0px;
}

.header-table {
  margin: auto;
  width: 90%;
  height: 20px;
  position: relative;
  top: 20px;
  left: 0px;
  right: 0px;
}

.header {
  background-color: #f1f1f1;
  height: 70px;
  margin-bottom: 20px;
  font-size: large;
  font-weight: bold;
}

.header-table-side {
  width: 25%;
}

.header-table-title {
  width: 50%;
}

.task-button {
  width: 100px;
  height: 100px;
  font-weight: bold;
  font-size: 15px;
}

.phnImg {
  margin:auto;
  top: 40%;
  left: 0%;
  right: 0%;
  position: absolute;
  color: green;
}

.redImg {
  margin:auto;
  top: 40%;
  left: 0%;
  right: 0%;
  position: absolute;
  color: red;
}

.command {
  margin:auto;
  font-size: 40px;
  left:0%;
  right:0%;
}

.shakeTimer {
  margin: auto;
  position: absolute;
  bottom: 10%;
  left: 0%;
  right:0%;
  font-size: 30px;
}

.mental-task-table {
  margin: auto;
  left: 0px;
  right: 0px;
}

.mental-task-cell {
  height: 150px;
  width: 150px;
  border: 3px dashed black;
  background-color: gainsboro;
  font-size: 80px;
  vertical-align: middle;
}

.mental-task-cell-selected {
  height: 150px;
  width: 150px;
  border: 3px solid #000;
  background-color: #AAAAAA;
  font-size: 80px;
  vertical-align: middle;
}

.target-message {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
}

.target-number {
  font-size: 50px;
  font-weight: bold;
  color: #000;
  margin-top: 0px;
  margin-bottom: 10px;
}

.mental-task-submit-button {
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
}

.correct-counter {
  font-size: 20px;
  margin: 0px;
}

.alarm-list-table {
  margin: auto;
  border-collapse: collapse;
  top: 20px;
  left: 0px;
  right: 0px;
}

.alarm-table-row {
  border: 3px solid black;
  padding: 10px;
}

.alarm-table-cell {
  width: 100px;
  height: 50px;
  font-size: 20px;
  padding: 5px;

}

.time-input {
  width: 90%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.difficulty-input {
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.alarm-toggle {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.alarm-action {
  height: 30px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
}

.bottom-button {
  height: 150px;
  font-size: 20px;
  font-weight: bold;
  display:inline;
  margin: auto;
  width: 70%;
  left: 0px;
  right: 0px;
  background-color: transparent;
  position: fixed;
  bottom: 10%;
}

.bottom-button-element{
  display: block;
  font-size: 20px;
  padding: 20px;
  margin: auto;
  width: 60%;
  height: 60%;
}

.bottom-button-element.back{
  border: none;
  height: 20%;
  background-color: transparent;
}

.new-alarm-button {
  font-size: 20px;
  border: none;
}

.mental-task-skip-button {
  color: blue;
}

.mental-task-skip-button:hover {
  color: blue;
  cursor: pointer;
}

.success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.success-message {
  font-size: 50px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 10px;
}

.restarting-alarm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.restarting-alarm-message {
  font-size: 50px;
  font-weight: bold;
  margin: 0px;
}

.restart-timer {
  font-size: 70px;
  font-weight: bold;
  display: block;
}

.restarting-alarm-button {
  font-size: 20px;
  height: 30px;
}

.success-button {
  font-size: 20px;
  height: 30px;
}

.rectBox {
  height: 100%;
  width:60%;
  padding: 10px;
  margin: auto;
  border:transparent;
  padding-top: 20px;
  text-align: center;
}

.time-input{
  border:3px solid black;
}

.difficulty-input{
  border:3px solid black;
  height:10%;
  margin: auto;
  width: 70%;

}

.lowerBox{
  list-style-type: none;
  align-items: center;
  padding: 10px;
  margin: auto;

}

.lowerBox li {
  margin: auto;
  width: 90%;
  padding: 10px;
  align-items: center;
}

.alarmEdit{
  position: relative;


}

.difficultText{
  font-size: 13px;
  

}

.alarm-table-action-cell{
  size:10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  right:5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.strongAlarmPage {
  display: block;
  font-size: small;
}

.strongAlarmPage.strong{
  font-size: small;
  font-weight: bold;
}

.AlarmDiff{
  width: 50%;

}